## XGBoost Model

In [87]:
import pandas as pd
import numpy as np
import math
from random import sample
import random
import itertools
import matplotlib.pyplot as plt
%matplotlib inline
from dtw import *
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from scipy import stats
from sklearn.metrics import mean_squared_error
from math import sqrt
from scipy.special import boxcox, inv_boxcox
from datetime import datetime
import xgboost as xgb

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

## Loading the Data

In [88]:
train = pd.read_csv("train.csv")
calendar = pd.read_csv("calendar.csv")
prices = pd.read_csv("prices.csv")

## Cleaning the Data for Forecasting

In [89]:
#deleting the 'd' in the column titles 
_cols = list(train.columns)
train.columns = pd.Index(_cols[:6] + [int(c.replace("d_","")) for c in _cols[6:]])
train.columns = train.columns.astype(str)

In [90]:
#pivoting the train df longer 
df_melt = pd.melt(train, id_vars = [i for i in train.columns if i.find("id") != -1],
                          value_vars = [i for i in train.columns if i.isnumeric()], var_name = 'd', value_name = 'sales')
df_melt.head()

,id,item_id,subcat_id,category_id,store_id,region_id,d,sales
0,Beauty_1_001_East_1,Beauty_1_001,Beauty_1,Beauty,East_1,East,1,0
1,Beauty_1_002_East_1,Beauty_1_002,Beauty_1,Beauty,East_1,East,1,0
2,Beauty_1_003_East_1,Beauty_1_003,Beauty_1,Beauty,East_1,East,1,0
3,Beauty_1_004_East_1,Beauty_1_004,Beauty_1,Beauty,East_1,East,1,0
4,Beauty_1_005_East_1,Beauty_1_005,Beauty_1,Beauty,East_1,East,1,0

In [91]:
#remove d_ in calendar
calendar['d'] = calendar['d'].str[2:]
calendar['date'] = pd.to_datetime(calendar['date'], format='%Y-%m-%d')
calendar

           date  wm_yr_wk    weekday  wday  month  year     d
0    2011-01-29     11101   Saturday     1      1  2011     1
1    2011-01-30     11101     Sunday     2      1  2011     2
2    2011-01-31     11101     Monday     3      1  2011     3
3    2011-02-01     11101    Tuesday     4      2  2011     4
4    2011-02-02     11101  Wednesday     5      2  2011     5
...         ...       ...        ...   ...    ...   ...   ...
1964 2016-06-15     11620  Wednesday     5      6  2016  1965
1965 2016-06-16     11620   Thursday     6      6  2016  1966
1966 2016-06-17     11620     Friday     7      6  2016  1967
1967 2016-06-18     11621   Saturday     1      6  2016  1968
1968 2016-06-19     11621     Sunday     2      6  2016  1969

[1969 rows x 7 columns]

In [92]:
#merge pivoted train with calendar
traincal = pd.merge(df_melt, calendar, on = 'd', how = 'left')
traincal['date'] = pd.to_datetime(traincal['date'], format='%Y-%m-%d')
traincal.d = traincal.d.astype('int')
traincal.head()

,id,item_id,subcat_id,category_id,store_id,region_id,d,sales,date,wm_yr_wk,weekday,wday,month,year
0,Beauty_1_001_East_1,Beauty_1_001,Beauty_1,Beauty,East_1,East,1,0,2011-01-29,11101,Saturday,1,1,2011
1,Beauty_1_002_East_1,Beauty_1_002,Beauty_1,Beauty,East_1,East,1,0,2011-01-29,11101,Saturday,1,1,2011
2,Beauty_1_003_East_1,Beauty_1_003,Beauty_1,Beauty,East_1,East,1,0,2011-01-29,11101,Saturday,1,1,2011
3,Beauty_1_004_East_1,Beauty_1_004,Beauty_1,Beauty,East_1,East,1,0,2011-01-29,11101,Saturday,1,1,2011
4,Beauty_1_005_East_1,Beauty_1_005,Beauty_1,Beauty,East_1,East,1,0,2011-01-29,11101,Saturday,1,1,2011

In [93]:
# Create features based from datetime
def create_features(df, label=None):
    """
    Creates time series features from datetime index
    """
    df['date'] = df.index
    df['dayofweek'] = df['date'].dt.dayofweek
    df['quarter'] = df['date'].dt.quarter
    df['month'] = df['date'].dt.month
    df['year'] = df['date'].dt.year
    df['dayofyear'] = df['date'].dt.dayofyear
    df['dayofmonth'] = df['date'].dt.day
    df['weekofyear'] = df['date'].dt.weekofyear
    
    X = df[['dayofweek','quarter','month','year',
           'dayofyear','dayofmonth','weekofyear']]
    if label:
        y = df[label]
        return X, y
    return X

### XGBoost Modelling

Our time series forecasting process using XGBoost involves training models on clusters of data, as running a single model on thousands of items can be computationally expensive. We selected XGBoost as our model of choice due to its ability to handle non-linear relationships and feature interactions. To account for seasonality and non-stationarity in our data, we used time-series feature engineering techniques to extract relevant features such as lagged variables and moving averages. We then used cross-validation to tune hyperparameters such as the learning rate and number of trees in the ensemble. Our error metric of choice was the mean absolute error (MAE) as it is scale-dependent and easy to interpret, and we also computed the mean absolute percentage error (MAPE) as a scale-independent measure of model performance.

We used two distance measures to disaggregate our time series data for our predictions: static weekly proportions and weekly proportions using a sliding window. In the static distance measure, the distance from an item to its cluster centroid is the proportion of its sales compared to the total sales made by the cluster. We fix our proportions based on the total sales of the last week in our training dataset. In the sliding window approach, we update our proportion value every time a prediction is made such that our new proportion value is inclusive of our last prediction. Each window represents the week before the day in question, and the window moves after each forecast.

In [94]:
###functions for store_id###
#run auto_arima on clusters based on store_id and subcat_id
def xgboost_cluster(df, cluster):
    """
    df has the columns: 'cluster', 'date', 'sales'
    cluster is the cluster of interest
    """
    if 'store_id' in df:
        temp = df[df['store_id'] == cluster].groupby('date').mean()
    elif 'cluster' in df:
        temp = df[df['cluster'] == cluster].groupby('date').mean()
        
    split_date = '22-Oct-2015' 
    temp_train = temp.loc[temp.index <= split_date].copy()
    temp_test = temp.loc[temp.index > split_date].copy()

    X_train, y_train = create_features(temp_train, label='total_sales_in_cluster')
    X_test, y_test = create_features(temp_test, label='total_sales_in_cluster')

    model = xgb.XGBRegressor(base_score=0.5, booster='gbtree',    
                             n_estimators=3000,
                             objective='reg:linear',
                             max_depth=5,
                             learning_rate=0.005,
                             reg_lambda=0.5,
                             reg_alpha=0.5)
    model.fit(X_train, y_train, eval_set=[(X_train, y_train), (X_test, y_test)],
              early_stopping_rounds=50, verbose=False)
    
    test_pred = model.predict(X_test) # For obtaining metrics values
    rmse = sqrt(mean_squared_error(y_test,test_pred))
    mae = abs(y_test - test_pred).mean()
    mape = abs((y_test - test_pred)/y_test).mean()
    prediction = model.predict(X_test[-21:]) # Predicts last 21 days
    return prediction, rmse, mae, mape

#for loop to run auto arima for all unique store_id and subcat_id
def forecast_cluster(df, csvdest):
    """
    df has the columns: 'cluster', 'date', 'sales'
    csvdest is the file name for the prediction csv in string
    """
    prediction = pd.DataFrame()
    clusters = df['cluster'].unique()
    rmses = []
    maes = []
    mapes = []
    for cluster in clusters:
        predict, rmse, mae, mape = xgboost_cluster(df, cluster)
        rmses.append(rmse)
        maes.append(mae)
        mapes.append(mape)
        prediction[cluster] = predict
        prediction.to_csv(f"{csvdest}.csv")
        print(f"Cluster: {cluster} is predicted")
    return rmses, maes, mapes

#distancing using proportions obtained from last week of training dataset 
def distance1(df, days = np.array(range(1920, 1941))):
    """
    df has id, cluster, proportion, and the prediction days as the columns
    """
    for d in days:
        df[d] = df[d] * df['prop'] #columnwise multiplication # Removed round()

In [95]:
#assuming the prediction_df has been cleaned
#train_df should be traincal
def rolling_window(train_df, prediction_df):
    """
    train_df is traincal with the natural cluster of interest column name renamed to be 'cluster'
    prediction_df has cluster name and prediction days as the columns
    """
    prediction = pd.DataFrame()
    train_temp = train_df[['id', 'd', 'cluster', 'sales']]
    train_temp['d'] = train_temp['d'].astype(int)
    
    for day in np.array(range(1920, 1941)):
        temp = train_temp[train_temp['d'] >= day-7]
        
        total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
    
        merged = pd.merge(temp, total_cluster_sales, on = ['cluster', 'd'], how = 'left')
        #get weekly sums for item and stores
        merged['item_weekly_sales'] = pd.DataFrame(merged.groupby('id')['sales'].transform('sum'))
        merged['cluster_weekly_sales'] = pd.DataFrame(merged.groupby(['cluster', 'id'])['total_cluster_sales'].transform('sum'))
        #set distance
        merged['prop'] = merged['item_weekly_sales'] / merged['cluster_weekly_sales']
        
        merged_temp_subset = merged[['id', 'cluster', 'prop']]
        
        forecast_df = pd.merge(merged_temp_subset, prediction_df, on = 'cluster', how ='left')
        forecast_df[day] = round(forecast_df['prop'] * forecast_df[day])
        preds_for_day = forecast_df[['id', 'cluster', day]].drop_duplicates().rename(columns={day:'sales'})
        preds_for_day['d'] = [day]*30490
        
        train_temp = train_temp.append(preds_for_day)
        prediction[day] = preds_for_day[['sales']]
        print(f"Prediction made for day: {day}")
        
    return prediction

### Natural Cluster: Store ID
#### Data preparation and forecast

In [96]:
#subsetting the df so it loads faster
temp_df = traincal[["date", "sales", "store_id"]]

In [97]:
#getting the daily total sales for each cluster
total_sales_by_store_id = temp_df.groupby(["store_id","date"]).sum().reset_index()
total_sales_by_store_id = total_sales_by_store_id.rename(columns={'sales': 'total_sales_in_cluster',
                                                               'store_id':'cluster'})

total_sales_by_store_id

         cluster       date  total_sales_in_cluster
0      Central_1 2011-01-29                    2556
1      Central_1 2011-01-30                    2687
2      Central_1 2011-01-31                    1822
3      Central_1 2011-02-01                    2258
4      Central_1 2011-02-02                    1694
...          ...        ...                     ...
19185     West_3 2016-04-26                    3200
19186     West_3 2016-04-27                    2962
19187     West_3 2016-04-28                    2870
19188     West_3 2016-04-29                    3692
19189     West_3 2016-04-30                    4605

[19190 rows x 3 columns]

In [98]:
#forecasting
forecast_cluster(total_sales_by_store_id, "predictions_by_store")

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

[12:08:42] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.
Cluster: Central_1 is predicted
[12:08:44] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: Central_2 is predicted
[12:08:45] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: Central_3 is predicted
[12:08:47] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: East_1 is predicted
[12:08:49] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: East_2 is predicted
[12:08:50] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: East_3 is predicted
[12:08:51] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: East_4 is predicted
[12:08:53] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: West_1 is predicted
[12:08:55] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: West_2 is predicted
[12:08:56] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: West_3 is predicted

([282.0132456880723,
  459.3269503130358,
  413.34165344385974,
  423.36700312798536,
  1570.9575061408607,
  589.3551413476852,
  263.35196867867967,
  510.54680623722675,
  1004.0778666690289,
  713.8111500884767],
 [184.73296767629253,
  350.7563080313318,
  298.3765709362729,
  291.36915979834754,
  1311.5399150748528,
  399.59305592482,
  205.3791030963678,
  381.79921542661975,
  806.1147058297203,
  576.0118107820681],
 [11.191474912056437,
  inf,
  5.019192166869943,
  inf,
  9.392174200393304,
  5.085590914334453,
  inf,
  6.070354872828162,
  11.384805372968732,
  13.96874651987916])

To forecast future sales using the XGBoost model, we utilized the weekly proportion (static) distance measure to disaggregaate item predictions from cluster predictions. First, we subsetted the train_final_store data to obtain the last week of the training dataset. Then, we set the distance measure as the proportion of an item's weekly sale to its corresponding store_id's weekly sale.  Finally, we pivoted our prediction dataframe to forecast data for each item while taking into account the 'distance' between an item and its natural 'cluster', the store_id. This approach allowed us to make accurate sales predictions for each item while accounting for the sales patterns of similar items and stores.

In [99]:
#subsetting traincal so it loads faster when we merge
traincal_temp = traincal[["id", "store_id", "date", "sales", "d"]].rename(columns={"store_id":"cluster"})
#merging the subset with the df that has the daily total sales by cluster
train_final_store = pd.merge(traincal_temp, total_sales_by_store_id, on = ["cluster", "date"])
train_final_store.head()

                    id cluster       date  sales  d  total_sales_in_cluster
0  Beauty_1_001_East_1  East_1 2011-01-29      0  1                    4337
1  Beauty_1_002_East_1  East_1 2011-01-29      0  1                    4337
2  Beauty_1_003_East_1  East_1 2011-01-29      0  1                    4337
3  Beauty_1_004_East_1  East_1 2011-01-29      0  1                    4337
4  Beauty_1_005_East_1  East_1 2011-01-29      0  1                    4337

In [100]:
#subsetting for days that were a week before our first prediction day, which is 1920
train_final_store['d'] = train_final_store['d'].astype(int)
subset_final_store = train_final_store[train_final_store['d'] >= 1913]
subset_final_store.drop(columns = 'date', inplace=True)
subset_final_store.head()

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/316454726.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_final_store.drop(columns = 'date', inplace=True)

                           id cluster  sales     d  total_sales_in_cluster
58296880  Beauty_1_001_East_1  East_1      1  1913                    6113
58296881  Beauty_1_002_East_1  East_1      0  1913                    6113
58296882  Beauty_1_003_East_1  East_1      1  1913                    6113
58296883  Beauty_1_004_East_1  East_1      2  1913                    6113
58296884  Beauty_1_005_East_1  East_1      4  1913                    6113

In [101]:
#get weekly sums for item and stores
subset_final_store['item_weekly_sales'] = pd.DataFrame(
    subset_final_store.groupby('id')['sales'].transform('sum'))

subset_final_store['store_weekly_sales'] = pd.DataFrame(subset_final_store.groupby(['cluster', 'id'])
                                                       ['total_sales_in_cluster'].transform('sum'))
#set distance
subset_final_store['prop'] = subset_final_store['item_weekly_sales'] / subset_final_store['store_weekly_sales']

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1983782394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_final_store['item_weekly_sales'] = pd.DataFrame(
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1983782394.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_final_store['store_weekly_sales'] = pd.DataFrame(subset_final_store.groupby(['cluster', 'id'])
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1983782394.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_final_store['prop'] = subset_final_store['item_weekly_sales'] / subset_final_store['store_weekly_sales']

In [102]:
#every item has the same store_weekly_sales so there are duplicate rows, which we drop
subset_final_store = pd.DataFrame(subset_final_store[['id', 'cluster', 'prop']].drop_duplicates()).reset_index(drop = True)
subset_final_store

                        id cluster      prop
0      Beauty_1_001_East_1  East_1  0.000187
1      Beauty_1_002_East_1  East_1  0.000031
2      Beauty_1_003_East_1  East_1  0.000156
3      Beauty_1_004_East_1  East_1  0.000312
4      Beauty_1_005_East_1  East_1  0.000343
...                    ...     ...       ...
30485    Food_3_823_West_3  West_3  0.000201
30486    Food_3_824_West_3  West_3  0.000120
30487    Food_3_825_West_3  West_3  0.000161
30488    Food_3_826_West_3  West_3  0.000441
30489    Food_3_827_West_3  West_3  0.000040

[30490 rows x 3 columns]

In [103]:
#loading the forecasts, which we saved as a csv
prediction_df_store = pd.read_csv('predictions_by_store.csv')
prediction_df_store = prediction_df_store.drop(columns= 'Unnamed: 0')
prediction_df_store.head()

,Central_1,Central_2,Central_3,East_1,East_2,East_3,East_4,West_1,West_2,West_3
0,4108.2600,4632.6360,4397.9610,5708.0703,3180.0790,7706.0030,2738.3342,4217.2240,4292.7065,3775.0298
1,3169.3892,3829.7668,4175.2744,4346.1370,2145.6538,6432.1772,2407.1462,3035.1704,4337.0947,3423.1404
2,3050.8254,3478.1702,3740.1633,3835.9210,2068.6260,5845.0550,2235.8623,2948.0254,4660.7637,3416.5283
3,3092.0632,3579.4830,3701.0881,3727.0962,2046.8002,5658.9730,2197.0237,2972.0818,3940.0676,2936.9277
4,2806.7900,3369.9730,3405.4111,3723.1924,2069.3030,5475.9580,2183.1443,2963.4153,4356.2650,3254.6042

In [104]:
#editing our prediction df so we have 'clusters' and the prediction days as the column headers
prediction_df_store['d'] = np.array(range(1920, 1941))
prediction_df_store.set_index('d', inplace = True)
prediction_df_store = prediction_df_store.T
prediction_df_store = prediction_df_store.reset_index().rename(columns = {'index' : 'cluster'})
prediction_df_store

d,cluster,1920,1921,1922,1923,1924,1925,1926,1927,1928,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
0,Central_1,4108.2600,3169.3892,3050.8254,3092.0632,2806.7900,3288.3584,3853.1230,4122.2607,2994.3772,...,2678.7915,2874.3218,3684.6770,3914.5710,2787.1460,2545.0078,2536.8647,2519.3325,2766.9963,3395.5730
1,Central_2,4632.6360,3829.7668,3478.1702,3579.4830,3369.9730,3836.7952,4508.9287,4673.9780,3518.4521,...,3177.7192,3579.7778,4375.1436,4552.0054,3419.7480,3022.3690,3038.5083,3092.2734,3538.6138,4191.1875
2,Central_3,4397.9610,4175.2744,3740.1633,3701.0881,3405.4111,4069.6458,4418.1978,4492.1080,3719.8027,...,3186.4888,3549.4182,4180.6030,4148.4020,3543.1135,3206.1433,3161.8490,3154.0574,3495.3710,4050.2937
3,East_1,5708.0703,4346.1370,3835.9210,3727.0962,3723.1924,4475.7427,5522.5615,5652.4930,4199.8633,...,3666.6548,4425.0986,5463.6020,5601.0103,4038.6213,3633.4620,3590.0650,3593.5864,4246.1430,5506.7954
4,East_2,3180.0790,2145.6538,2068.6260,2046.8002,2069.3030,2375.9575,3255.3564,3126.8752,2124.7786,...,2061.3838,2369.6000,3252.7368,3124.0590,2122.1794,2012.4425,2012.4425,2026.9810,2433.5261,3258.9065
5,East_3,7706.0030,6432.1772,5845.0550,5658.9730,5475.9580,5740.7285,6980.3823,7542.9000,5997.0130,...,5336.0370,5654.7373,6878.7334,7384.1640,5775.0933,5368.4280,5185.4805,5168.9727,5549.3286,6810.3057
6,East_4,2738.3342,2407.1462,2235.8623,2197.0237,2183.1443,2342.3513,2627.6630,2693.9038,2381.5398,...,2173.9482,2335.5947,2593.7550,2691.9340,2400.6526,2215.3430,2157.2320,2162.8716,2333.4666,2640.1006
7,West_1,4217.2240,3035.1704,2948.0254,2972.0818,2963.4153,3687.6506,4786.9690,4277.7666,2837.1990,...,2670.3992,3423.3923,4403.8680,4092.1577,2774.9660,2634.2800,2682.6223,2716.8882,3557.2551,4671.9043
8,West_2,4292.7065,4337.0947,4660.7637,3940.0676,4356.2650,4689.3867,4696.8930,3880.6318,3359.7678,...,3150.0300,3541.0830,3923.1548,3556.7256,3083.2656,3058.6390,3062.7993,3061.4214,3737.4739,4117.6987
9,West_3,3775.0298,3423.1404,3416.5283,2936.9277,3254.6042,3644.1055,3851.3225,3699.3118,2737.0286,...,2393.5579,2941.6343,3339.9727,3243.2420,2547.2050,2373.1992,2268.8071,2289.8100,3034.1206,3334.5740

In [105]:
#merging our df that has the proportions for each item, with the predictions for each cluster
forecast_df = pd.merge(subset_final_store, prediction_df_store, on = 'cluster', how ='left' )
distance1(forecast_df)
forecast_df

,id,cluster,prop,1920,1921,1922,1923,1924,1925,1926,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
0,Beauty_1_001_East_1,East_1,0.000187,1.067195,0.812565,0.717173,0.696827,0.696097,0.836796,1.032512,...,0.685527,0.827327,1.021489,1.047179,0.755071,0.679321,0.671207,0.671866,0.793869,1.029564
1,Beauty_1_002_East_1,East_1,0.000031,0.177866,0.135427,0.119529,0.116138,0.116016,0.139466,0.172085,...,0.114254,0.137888,0.170248,0.174530,0.125845,0.113220,0.111868,0.111978,0.132312,0.171594
2,Beauty_1_003_East_1,East_1,0.000156,0.889329,0.677137,0.597644,0.580689,0.580081,0.697330,0.860427,...,0.571272,0.689440,0.851240,0.872649,0.629226,0.566101,0.559340,0.559888,0.661558,0.857970
3,Beauty_1_004_East_1,East_1,0.000312,1.778658,1.354274,1.195289,1.161379,1.160162,1.394660,1.720853,...,1.142545,1.378879,1.702481,1.745298,1.258451,1.132202,1.118679,1.119776,1.323116,1.715940
4,Beauty_1_005_East_1,East_1,0.000343,1.956524,1.489702,1.314818,1.277516,1.276178,1.534126,1.892938,...,1.256799,1.516767,1.872729,1.919828,1.384296,1.245422,1.230547,1.231754,1.455427,1.887534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,Food_3_823_West_3,West_3,0.000201,0.757521,0.686909,0.685582,0.589342,0.653089,0.731249,0.772830,...,0.480306,0.590287,0.670220,0.650809,0.511138,0.476221,0.455273,0.459487,0.608845,0.669136
30486,Food_3_824_West_3,West_3,0.000120,0.454513,0.412145,0.411349,0.353605,0.391853,0.438749,0.463698,...,0.288184,0.354172,0.402132,0.390485,0.306683,0.285733,0.273164,0.275692,0.365307,0.401482
30487,Food_3_825_West_3,West_3,0.000161,0.606017,0.549527,0.548465,0.471474,0.522471,0.584999,0.618264,...,0.384245,0.472229,0.536176,0.520647,0.408910,0.380977,0.364218,0.367590,0.487076,0.535309
30488,Food_3_826_West_3,West_3,0.000441,1.666546,1.511199,1.508280,1.296553,1.436796,1.608747,1.700227,...,1.056674,1.298631,1.474483,1.431780,1.124504,1.047686,1.001600,1.010872,1.339460,1.472100
30489,Food_3_827_West_3,West_3,0.000040,0.151504,0.137382,0.137116,0.117868,0.130618,0.146250,0.154566,...,0.096061,0.118057,0.134044,0.130162,0.102228,0.095244,0.091055,0.091897,0.121769,0.133827

In [106]:
#cleaning the forecast_df so we can submit on kaggle
final = forecast_df.drop(columns=['cluster', 'prop'])
final.set_index('id', inplace = True)
columns = ['d_1920', 'd_1921','d_1922','d_1923', 'd_1924', 'd_1925','d_1926','d_1927','d_1928','d_1929','d_1930',
             'd_1931','d_1932','d_1933','d_1934','d_1935','d_1936','d_1937','d_1938','d_1939','d_1940']
final.columns = columns
final

,d_1920,d_1921,d_1922,d_1923,d_1924,d_1925,d_1926,d_1927,d_1928,d_1929,...,d_1931,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940
id,,,,,,,,,,,,,,,,,,,,,
Beauty_1_001_East_1,1.067195,0.812565,0.717173,0.696827,0.696097,0.836796,1.032512,1.056804,0.785217,0.690334,...,0.685527,0.827327,1.021489,1.047179,0.755071,0.679321,0.671207,0.671866,0.793869,1.029564
Beauty_1_002_East_1,0.177866,0.135427,0.119529,0.116138,0.116016,0.139466,0.172085,0.176134,0.130869,0.115056,...,0.114254,0.137888,0.170248,0.174530,0.125845,0.113220,0.111868,0.111978,0.132312,0.171594
Beauty_1_003_East_1,0.889329,0.677137,0.597644,0.580689,0.580081,0.697330,0.860427,0.880670,0.654347,0.575278,...,0.571272,0.689440,0.851240,0.872649,0.629226,0.566101,0.559340,0.559888,0.661558,0.857970
Beauty_1_004_East_1,1.778658,1.354274,1.195289,1.161379,1.160162,1.394660,1.720853,1.761340,1.308695,1.150557,...,1.142545,1.378879,1.702481,1.745298,1.258451,1.132202,1.118679,1.119776,1.323116,1.715940
Beauty_1_005_East_1,1.956524,1.489702,1.314818,1.277516,1.276178,1.534126,1.892938,1.937474,1.439564,1.265613,...,1.256799,1.516767,1.872729,1.919828,1.384296,1.245422,1.230547,1.231754,1.455427,1.887534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Food_3_823_West_3,0.757521,0.686909,0.685582,0.589342,0.653089,0.731249,0.772830,0.742327,0.549229,0.500174,...,0.480306,0.590287,0.670220,0.650809,0.511138,0.476221,0.455273,0.459487,0.608845,0.669136
Food_3_824_West_3,0.454513,0.412145,0.411349,0.353605,0.391853,0.438749,0.463698,0.445396,0.329537,0.300105,...,0.288184,0.354172,0.402132,0.390485,0.306683,0.285733,0.273164,0.275692,0.365307,0.401482
Food_3_825_West_3,0.606017,0.549527,0.548465,0.471474,0.522471,0.584999,0.618264,0.593862,0.439383,0.400139,...,0.384245,0.472229,0.536176,0.520647,0.408910,0.380977,0.364218,0.367590,0.487076,0.535309
Food_3_826_West_3,1.666546,1.511199,1.508280,1.296553,1.436796,1.608747,1.700227,1.633119,1.208304,1.100384,...,1.056674,1.298631,1.474483,1.431780,1.124504,1.047686,1.001600,1.010872,1.339460,1.472100
Food_3_827_West_3,0.151504,0.137382,0.137116,0.117868,0.130618,0.146250,0.154566,0.148465,0.109846,0.100035,...,0.096061,0.118057,0.134044,0.130162,0.102228,0.095244,0.091055,0.091897,0.121769,0.133827

In [107]:
#saving the predictions to csv
final.to_csv('stores_prediction.csv')

#### Distance measure: 'sliding window'
We update our proportion value every time a prediction is made such that our new proportion value is inclusive of our prediction. Each 'window' is the week before the day in question and the 'window' moves after we forecast one day.

In [108]:
#forecasting using the 'rolling window' distance measure
traincal_temp = traincal.copy()
traincal_temp.rename(columns={"store_id":"cluster"}, inplace=True)
prediction_w_rolling_prop = rolling_window(traincal_temp, prediction_df_store)

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_temp['d'] = train_temp['d'].astype(int)
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1920

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1921

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1922

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1923

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1924

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1925

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1926

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1927

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1928

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1929

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1930

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1931

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1932

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1933

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1934

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1935

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1936

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1937

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1938

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1939

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1940

In [109]:
#cleaning the formatting of the predictions so we can submit on kaggle
columns = ['d_1920', 'd_1921','d_1922','d_1923', 'd_1924', 'd_1925','d_1926','d_1927','d_1928','d_1929','d_1930',
             'd_1931','d_1932','d_1933','d_1934','d_1935','d_1936','d_1937','d_1938','d_1939','d_1940']
prediction_w_rolling_prop.columns = columns
prediction_w_rolling_prop = prediction_w_rolling_prop.set_index(train['id'])

In [110]:
#saving the rolling window predictions to csv
prediction_w_rolling_prop.to_csv('store_pred_v2.csv')

### Analysis:
As expected, our sliding window forecasts using the XGBoost model scored lower than our fixed proportion forecasts. This is because our sliding window approach includes our previous forecasts, which are not always perfectly accurate, and can produce distorted distances from an item to its cluster. The sliding window distance measure was still effective in grouping similar time series together, but the added noise from the previous forecasts led to slightly lower forecast accuracy compared to the static weekly proportion approach.

### Natural Cluster: Subcategory ID
#### Data preparation and forecast

In [111]:
#subsetting traincal so it loads faster when we merge
temp_df = traincal[["date", "sales", "subcat_id"]]
#getting the daily total sales grouped by cluster
total_sales_by_subcat_id = temp_df.groupby(["subcat_id","date"]).sum().reset_index()
total_sales_by_subcat_id = total_sales_by_subcat_id.rename(columns={'sales': 'total_sales_in_cluster', 
                                                                    'subcat_id': 'cluster'})

In [112]:
total_sales_by_subcat_id.head()

    cluster       date  total_sales_in_cluster
0  Beauty_1 2011-01-29                    3610
1  Beauty_1 2011-01-30                    3172
2  Beauty_1 2011-01-31                    2497
3  Beauty_1 2011-02-01                    2531
4  Beauty_1 2011-02-02                    1714

In [113]:
#forecasting
forecast_cluster(total_sales_by_subcat_id, 'prediction_by_cluster')

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

[12:10:31] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.
Cluster: Beauty_1 is predicted
[12:10:32] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: Beauty_2 is predicted
[12:10:33] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: Cleaning_1 is predicted
[12:10:35] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: Cleaning_2 is predicted
[12:10:36] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: Food_1 is predicted
[12:10:38] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: Food_2 is predicted
[12:10:39] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/objective/regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3143174443.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp = df[df['cluster'] == cluster].groupby('date').mean()
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/3371419079.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['weekofyear'] = df['date'].dt.weekofyear
/opt/homebrew/lib/python3.11/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

Cluster: Food_3 is predicted

([433.6731274214666,
  66.79109341074913,
  1009.2095135850996,
  219.3815792066758,
  489.4863832767539,
  1238.7218414531021,
  2397.842243052403],
 [300.0437177887762,
  50.63746227643877,
  766.2851460242147,
  163.15955165044176,
  358.5820197459915,
  1056.46952076857,
  1898.4929646596859],
 [inf,
  inf,
  inf,
  7.655372767862929,
  13.113652221162582,
  inf,
  5.143461213730206])

#### Distance measure : Weekly proportion (static)

In [114]:
#subsetting traincal so it loads faster when we merge
traincal_temp = traincal[["id", "subcat_id", "date", "sales", "d"]]

In [115]:
train_final_subcat = pd.merge(traincal_temp, total_sales_by_subcat_id, 
                             left_on = ["subcat_id", "date"], 
                             right_on = ["cluster", "date"])

#subsetting for days that were a week before our first prediction day, which is 1920
train_final_subcat.drop(columns = ['date', 'subcat_id'], inplace = True)
train_final_subcat['d'] = train_final_subcat['d'].astype(int)
subset_final_subcat = train_final_subcat[train_final_subcat['d'] >= 1913]
train_final_subcat.head()

                    id  sales  d   cluster  total_sales_in_cluster
0  Beauty_1_001_East_1      0  1  Beauty_1                    3610
1  Beauty_1_002_East_1      0  1  Beauty_1                    3610
2  Beauty_1_003_East_1      0  1  Beauty_1                    3610
3  Beauty_1_004_East_1      0  1  Beauty_1                    3610
4  Beauty_1_005_East_1      0  1  Beauty_1                    3610

In [116]:
#get weekly sums for item and subcat
subset_final_subcat['item_weekly_sales'] = pd.DataFrame(
    subset_final_subcat.groupby('id')['sales'].transform('sum'))

subset_final_subcat['subcat_weekly_sales'] = pd.DataFrame(subset_final_subcat.groupby(['cluster', 'id'])
                                                       ['total_sales_in_cluster'].transform('sum'))
#set distance
subset_final_subcat['prop'] = subset_final_subcat['item_weekly_sales'] / subset_final_subcat['subcat_weekly_sales']

subset_final_subcat = pd.DataFrame(subset_final_subcat[['id', 'cluster', 'prop']].drop_duplicates()).reset_index(drop = True)
subset_final_subcat

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1166498477.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_final_subcat['item_weekly_sales'] = pd.DataFrame(
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1166498477.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_final_subcat['subcat_weekly_sales'] = pd.DataFrame(subset_final_subcat.groupby(['cluster', 'id'])
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1166498477.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_final_subcat['prop'] = subset_final_subcat['item_weekly_sales'] / subset_final_subcat['subcat_weekly_sales']

                        id   cluster      prop
0      Beauty_1_001_East_1  Beauty_1  0.000234
1      Beauty_1_002_East_1  Beauty_1  0.000039
2      Beauty_1_003_East_1  Beauty_1  0.000195
3      Beauty_1_004_East_1  Beauty_1  0.000391
4      Beauty_1_005_East_1  Beauty_1  0.000430
...                    ...       ...       ...
30485    Food_3_823_West_3    Food_3  0.000038
30486    Food_3_824_West_3    Food_3  0.000023
30487    Food_3_825_West_3    Food_3  0.000031
30488    Food_3_826_West_3    Food_3  0.000085
30489    Food_3_827_West_3    Food_3  0.000008

[30490 rows x 3 columns]

In [117]:
#loading the predictions since we saved it as a csv in our function
#formating the prediction df so we have 'cluster' and the prediction days as the column headers
prediction_df_subcat = pd.read_csv('prediction_by_cluster.csv')
prediction_df_subcat = prediction_df_subcat.drop(columns= 'Unnamed: 0')
prediction_df_subcat['d'] = np.array(range(1920, 1941))
prediction_df_subcat.set_index('d', inplace = True)
prediction_df_subcat = prediction_df_subcat.T
prediction_df_subcat = prediction_df_subcat.reset_index().rename(columns = {'index' : 'cluster'})
prediction_df_subcat

d,cluster,1920,1921,1922,1923,1924,1925,1926,1927,1928,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
0,Beauty_1,3795.3340,3094.07760,2960.90040,2961.81520,2961.81520,3352.68800,4008.41700,3799.79900,3069.9575,...,2921.61990,3402.86520,3986.65380,3798.85230,3085.78830,2903.04700,2883.38720,2853.52610,3371.9287,4044.81790
1,Beauty_2,397.3793,348.68668,348.68668,351.41174,350.45663,360.17426,396.25546,396.84528,346.9131,...,357.62552,367.34314,404.24283,404.24283,354.90045,354.90045,356.59647,356.59647,366.3141,402.88965
2,Cleaning_1,9190.8540,7144.93800,6389.13670,6313.13700,6263.98630,7128.96700,9040.24900,9005.04900,6932.4053,...,6087.71700,6917.04600,8777.25300,8519.08200,6575.41200,5912.73630,5819.72560,5857.06200,7024.5347,9363.34700
3,Cleaning_2,2308.7134,1706.21680,1651.59030,1651.18290,1664.95450,1923.04970,2354.64060,2308.75700,1717.0610,...,1645.89770,1890.71360,2337.53030,2294.82030,1711.25740,1599.60230,1599.40380,1622.50260,1891.9487,2378.35770
4,Food_1,3202.8977,2404.56030,2414.19900,2522.85280,2576.30660,2938.16670,3218.46440,2877.00020,2305.8620,...,2399.05660,2919.67900,3214.62260,3120.96220,2428.43680,2432.06030,2427.48240,2482.50050,3031.1787,3292.87300
5,Food_2,5586.4355,4975.80600,4679.56450,4177.08540,4020.74150,4282.46600,4764.49460,5095.80860,4364.1450,...,3508.01600,3710.02700,4602.99200,4849.11230,4005.50510,3601.07600,3462.94800,3372.25830,3572.4841,4608.70400
6,Food_3,20955.1700,17308.33200,16031.60600,15735.50100,15743.16100,17157.69100,20444.56000,20157.07000,15434.3260,...,13643.07600,15693.22700,18848.02500,19136.54700,14860.05700,13392.66200,13427.35500,13429.41600,15332.6980,18596.06800

In [118]:
#merging so we have the distance/proportion and the cluster predictions for each item
forecast_df = pd.merge(subset_final_subcat, prediction_df_subcat, on = 'cluster', how ='left')
#taking into account the 'distance' between an item and its' natural cluster
distance1(forecast_df)
forecast_df

,id,cluster,prop,1920,1921,1922,1923,1924,1925,1926,...,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940
0,Beauty_1_001_East_1,Beauty_1,0.000234,0.889636,0.725259,0.694042,0.694257,0.694257,0.785878,0.939583,...,0.684835,0.797640,0.934481,0.890460,0.723316,0.680481,0.675873,0.668874,0.790388,0.948115
1,Beauty_1_002_East_1,Beauty_1,0.000039,0.148273,0.120877,0.115674,0.115709,0.115709,0.130980,0.156597,...,0.114139,0.132940,0.155747,0.148410,0.120553,0.113414,0.112646,0.111479,0.131731,0.158019
2,Beauty_1_003_East_1,Beauty_1,0.000195,0.741363,0.604383,0.578369,0.578547,0.578547,0.654899,0.782986,...,0.570696,0.664700,0.778735,0.742050,0.602764,0.567068,0.563228,0.557395,0.658657,0.790096
3,Beauty_1_004_East_1,Beauty_1,0.000391,1.482726,1.208766,1.156737,1.157095,1.157095,1.309797,1.565971,...,1.141392,1.329400,1.557469,1.484101,1.205527,1.134136,1.126455,1.114789,1.317314,1.580192
4,Beauty_1_005_East_1,Beauty_1,0.000430,1.630999,1.329642,1.272411,1.272804,1.272804,1.440777,1.722569,...,1.255531,1.462340,1.713216,1.632511,1.326080,1.247549,1.239101,1.226268,1.449045,1.738211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,Food_3_823_West_3,Food_3,0.000038,0.804891,0.664815,0.615776,0.604403,0.604697,0.659029,0.785278,...,0.524032,0.602779,0.723955,0.735037,0.570777,0.514414,0.515746,0.515826,0.588931,0.714277
30486,Food_3_824_West_3,Food_3,0.000023,0.482934,0.398889,0.369466,0.362642,0.362818,0.395417,0.471167,...,0.314419,0.361667,0.434373,0.441022,0.342466,0.308648,0.309448,0.309495,0.353359,0.428566
30487,Food_3_825_West_3,Food_3,0.000031,0.643913,0.531852,0.492621,0.483522,0.483757,0.527223,0.628223,...,0.419226,0.482223,0.579164,0.588030,0.456621,0.411531,0.412597,0.412660,0.471145,0.571422
30488,Food_3_826_West_3,Food_3,0.000085,1.770760,1.462594,1.354707,1.329686,1.330333,1.449864,1.727612,...,1.152871,1.326113,1.592701,1.617082,1.255709,1.131710,1.134642,1.134816,1.295648,1.571410
30489,Food_3_827_West_3,Food_3,0.000008,0.160978,0.132963,0.123155,0.120881,0.120939,0.131806,0.157056,...,0.104806,0.120556,0.144791,0.147007,0.114155,0.102883,0.103149,0.103165,0.117786,0.142855

In [119]:
#preparing our forecast_df so we can submit on kaggle
final = forecast_df.drop(columns=['cluster', 'prop'])
final.set_index('id', inplace = True)
final.columns = columns
final

,d_1920,d_1921,d_1922,d_1923,d_1924,d_1925,d_1926,d_1927,d_1928,d_1929,...,d_1931,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940
id,,,,,,,,,,,,,,,,,,,,,
Beauty_1_001_East_1,0.889636,0.725259,0.694042,0.694257,0.694257,0.785878,0.939583,0.890682,0.719606,0.673474,...,0.684835,0.797640,0.934481,0.890460,0.723316,0.680481,0.675873,0.668874,0.790388,0.948115
Beauty_1_002_East_1,0.148273,0.120877,0.115674,0.115709,0.115709,0.130980,0.156597,0.148447,0.119934,0.112246,...,0.114139,0.132940,0.155747,0.148410,0.120553,0.113414,0.112646,0.111479,0.131731,0.158019
Beauty_1_003_East_1,0.741363,0.604383,0.578369,0.578547,0.578547,0.654899,0.782986,0.742235,0.599671,0.561229,...,0.570696,0.664700,0.778735,0.742050,0.602764,0.567068,0.563228,0.557395,0.658657,0.790096
Beauty_1_004_East_1,1.482726,1.208766,1.156737,1.157095,1.157095,1.309797,1.565971,1.484470,1.199343,1.122457,...,1.141392,1.329400,1.557469,1.484101,1.205527,1.134136,1.126455,1.114789,1.317314,1.580192
Beauty_1_005_East_1,1.630999,1.329642,1.272411,1.272804,1.272804,1.440777,1.722569,1.632917,1.319277,1.234703,...,1.255531,1.462340,1.713216,1.632511,1.326080,1.247549,1.239101,1.226268,1.449045,1.738211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Food_3_823_West_3,0.804891,0.664815,0.615776,0.604403,0.604697,0.659029,0.785278,0.774236,0.592834,0.525513,...,0.524032,0.602779,0.723955,0.735037,0.570777,0.514414,0.515746,0.515826,0.588931,0.714277
Food_3_824_West_3,0.482934,0.398889,0.369466,0.362642,0.362818,0.395417,0.471167,0.464541,0.355701,0.315308,...,0.314419,0.361667,0.434373,0.441022,0.342466,0.308648,0.309448,0.309495,0.353359,0.428566
Food_3_825_West_3,0.643913,0.531852,0.492621,0.483522,0.483757,0.527223,0.628223,0.619389,0.474268,0.420411,...,0.419226,0.482223,0.579164,0.588030,0.456621,0.411531,0.412597,0.412660,0.471145,0.571422
Food_3_826_West_3,1.770760,1.462594,1.354707,1.329686,1.330333,1.449864,1.727612,1.703318,1.304236,1.156129,...,1.152871,1.326113,1.592701,1.617082,1.255709,1.131710,1.134642,1.134816,1.295648,1.571410
Food_3_827_West_3,0.160978,0.132963,0.123155,0.120881,0.120939,0.131806,0.157056,0.154847,0.118567,0.105103,...,0.104806,0.120556,0.144791,0.147007,0.114155,0.102883,0.103149,0.103165,0.117786,0.142855

In [120]:
#saving predictions to csv
final.to_csv('subcat.csv')

#### Distance measure: rolling window

In [121]:
#forecasting using the 'rolling window' distance measure
traincal_temp = traincal.copy()
traincal_temp.rename(columns={"subcat_id":"cluster"}, inplace=True)
prediction_w_rolling_prop_subcat = rolling_window(traincal_temp, prediction_df_subcat)

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_temp['d'] = train_temp['d'].astype(int)
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1920

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1921

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1922

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1923

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1924

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1925

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1926

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1927

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1928

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1929

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1930

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1931

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1932

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1933

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1934

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1935

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1936

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1937

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1938

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1939

/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_cluster_sales = temp.groupby(["cluster","d"]).sum().reset_index().rename(columns={'sales':'total_cluster_sales'})
/var/folders/1z/qmpx0_w54_s8yq025xpqh3dc0000gn/T/ipykernel_2225/1612407262.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_temp = train_temp.append(preds_for_day)

Prediction made for day: 1940

In [122]:
#cleaning the formatting of the predictions so we can submit on kaggle
columns = ['d_1920', 'd_1921','d_1922','d_1923', 'd_1924', 'd_1925','d_1926','d_1927','d_1928','d_1929','d_1930',
             'd_1931','d_1932','d_1933','d_1934','d_1935','d_1936','d_1937','d_1938','d_1939','d_1940']
prediction_w_rolling_prop_subcat.columns = columns
prediction_w_rolling_prop_subcat = prediction_w_rolling_prop_subcat.set_index(train['id'])

In [123]:
#saving the rolling window predictions to csv
prediction_w_rolling_prop_subcat.to_csv("subcat_rolling_predictions.csv")

## Summary

In summary, our data preparation stage, we did not use transformations such as boxcox as we found that it decreased the performance of our models significantly. We trained two models using two natural clusters, subcategory id and store id, on their respective cluster centroids defined as the total sales per day. To obtain the predictions for each item, we used a deallocation method based on a distance metric that measured the proportion of an item's weekly sale to its cluster's weekly sale. We used both the static weekly proportion and rolling window distance measures on both clusters. We found that the model trained on the subcategory id cluster using the rolling window distance measure performed the best, as sales patterns across subcategories are more similar compared to stores, which are more closely tied to the specific location where the item is sold.

### Future Direction

We explored using DTW clustering to group items based on their time-series similarity, but ultimately opted to use subcategory and store clusters with XGBoost for our models due to computational limitations. However, we believe that if we had more resources, using DTW clustering could potentially improve our results. In addition, running XGBoost on each item_id could further improve the accuracy of our forecasts. We also recognize the potential value of incorporating insights on anomalies within the general trend, such as spikes and plateaus, for more accurate forecasting.